@screen-xs-max: 768px;

.messagepage {
  display: flex;
  height: 100%;
  .messageitem {
    width: 30%;
    min-width: 180px;
    overflow-y: auto;
    background-color: rgb(207, 193, 235);
    margin-bottom: 0;
  }
  .messagedetail {
    flex-grow: 1;
    background-color: rgb(243, 234, 217);
  }
}

@media all and (max-width: @screen-xs-max) {
  .messagepage {
    .messageitem {
      width: 100%;
    }
  }
}